* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
color: white;
}

.linternita {
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.linternita:hover{
    color: red;
}

label{
    cursor:pointer;
}
.sufrimiento {
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.sufrimiento:hover{
color: gray;
}
.pagina {
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.pagina:hover {
color: gray;
}
.sorpresa {
    color: black;
    cursor: pointer;
    transition: 0.5s;
}
.sorpresa:hover {
    color: gray;
}
table, th, td {
    border: 1px solid pink;
}